{% extends "partial/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/artist.css' %}">
{% endblock extra_css %}

{% block content %}

<section class="artist-section">

<h1 class="page-title">Artists</h1>

<div class="artist-search">
<input type="text" id="artistSearch" placeholder="Search artists...">
</div>

<div class="artist-grid">

{% for artist in artists %}

<div class="artist-card card3d">

{% if artist.photo %}
<img src="{{ artist.photo.url }}" alt="{{ artist.name }}">
{% else %}
<img src="{% static 'images/default_artist.png' %}">
{% endif %}

<div class="artist-info">

<h3 class="artist-name">{{ artist.name }}</h3>

<p class="debut-year">
Debut Year: {{ artist.debut_year }}
</p>

</div>

</div>

{% empty %}

<p>No artists available.</p>

{% endfor %}

</div>

</section>

{% block extra_js %}
<script src="{% static 'js/artist.js' %}"></script>
{% endblock extra_js %}


{% endblock %}